%h1.page-header
  Pretty List Items
.pretty-list
  = render 'index_list', list_items: @list_items
  = link_to [:new, :pretty_list_item],  class: %w[btn btn-primary], remote: true do
    %i.icon-plus
    Add
