%h1.page-header
  Pretty List Items
.pretty-list
  %ul
    - @list_items.each do |item|
      = render 'index_item', item: item
  = link_to [:new, :pretty_list_item],  class: %w[btn btn-primary], remote: true do
    %i.icon-plus
    Add
