body {
    padding: 0 20px;
}

.modal form {
    margin: 0;
}

.modal form > .alert {
    border-radius: 0;
    margin-bottom: 0;
}

.alert ul {
    margin-bottom: 0;
}

ul.sortable-list {
    list-style-type: none;
    margin-left: 0;
}

ul.sortable-list > li {
    background: #EFEFEF;
    background: -webkit-linear-gradient(#EFEFEF, #DEDEDE);
    background: -o-linear-gradient(#EFEFEF, #DEDEDE);
    background: -moz-linear-gradient(#EFEFEF, #DEDEDE);
    background: linear-gradient(#EFEFEF, #DEDEDE);
    border: 1px solid #DDD;
    border-collapse: separate;
    border-radius: 5px;
    border-spacing: 5px 5px;
    display: table;
    line-height: 44px;
    margin-bottom: 5px;
    padding: 5px;
    width: 100%;
}

ul.sortable-list > li > * {
    display: table-cell;
    vertical-align: middle;
}

ul.sortable-list > li > span > span {
    background-image: url(/assets/drag-handle.png);
    background-position: left center;
    background-repeat: no-repeat;
    cursor: move;
    font-size: 16px;
    padding-left: 50px;
}

ul.sortable-list > li > a {
    width: 85px;
}
